body {
    background-color: whitesmoke;
}
@font-face {
    font-family: 'Kids';
    src: url(Font/kids_on_the_moon/KidsOnTheMoon.ttf);
}
.nav-item {
    margin-right: 10px;
}
.jumbotron {
    background-color: #404650;
    padding: 1rem 1rem;
}
.carousel-caption h3 {
    font-size: 40px;
}
.inner {
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {
    transform: scale(1.5);
}
.maps {
    transition: all 1.5s ease;
}
.maps:hover {
    transform: scale(1.5);
}

